body { padding:0; margin:0; font-family: sans-serif; overflow-x: hidden; }
header { text-align: center; }

#site_header { }

#main { text-align: center; }
#main input { display: none; }
#save_links { width: 460px; height:40px; border-radius: 5px; border: 1px solid #eaeaea; font-size: 18px; }

.links-area {}
#links {}
#links li { list-style: none;}


#trash { display: none; } 